/* Write your CSS here */
* {
  box-sizing: border-box;
  margin: 0;
}
.container {
  background-color: #f1f5f8;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.counter {
  color: #c20a72;
}
.btn {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  outline: none;
  border: 0;
  padding: 10px 10px;
  border-radius: 10px;
}
h1 {
  font-size: 30px;
  margin-bottom: 5px;
}
